.navbar-rectangle1 {
  position: absolute;
  top: 43px;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 360px;
  height: 67px;
}
.more1 {
  position: absolute;
  top: 50px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 82px;
}
.menu-icon1 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 63px;
  height: 67px;
  object-fit: cover;
}
.more-group1,
.my-bookings1 {
  position: absolute;
  top: 38px;
  width: 82px;
}
.more-group1 {
  left: 283px;
  height: 62px;
}
.my-bookings1 {
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.appointment-icon1 {
  position: absolute;
  top: 0;
  left: 21px;
  width: 44px;
  height: 43px;
  object-fit: cover;
}
.booking-group1 {
  position: absolute;
  top: 50px;
  left: 215px;
  width: 82px;
  height: 50px;
}
.create-a-booking1 {
  position: absolute;
  top: 41px;
  left: 0;
  display: inline-block;
  width: 85px;
}
.edit-icon1 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.create-group1 {
  position: absolute;
  top: 49px;
  left: 67px;
  width: 85px;
  height: 53px;
  cursor: pointer;
}
.dashboard1 {
  position: absolute;
  top: 39px;
  left: 0;
  font-weight: 500;
}
.dashboard-icon1 {
  position: absolute;
  top: 0;
  left: 6px;
  width: 41px;
  height: 43px;
  object-fit: cover;
}
.dashboard-group1 {
  position: absolute;
  top: 51px;
  left: 9px;
  width: 53px;
  height: 51px;
  text-align: left;
}
.qr-eclipse1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-steelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 78px;
  height: 77px;
}
.scan-qr1 {
  position: absolute;
  top: 51px;
  left: 16px;
  font-weight: 600;
}
.qr-icon1 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 59px;
  height: 57px;
  object-fit: cover;
}
.navbar1,
.qr-group1 {
  position: absolute;
  top: 0;
  left: 143px;
  width: 78px;
  height: 77px;
  text-align: left;
  font-size: var(--font-size-xs);
}
.navbar1 {
  top: 826px;
  left: 0;
  width: 365px;
  height: 110px;
  text-align: center;
  font-size: var(--font-size-3xs);
  font-family: var(--font-inter);
}
.i13 {
  top: 12px;
  left: 16px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.i13,
.j1,
.j61 {
  position: absolute;
}
.j1 {
  top: 0;
  left: 1px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 8px;
  height: 9px;
}
.j61 {
  top: 25px;
  left: 231px;
  background-color: var(--color-gainsboro-300);
  width: 39.2px;
  height: 29.12px;
}
.i14 {
  top: 11px;
  left: 16px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.i14,
.i15,
.i41 {
  position: absolute;
}
.i15 {
  top: 0;
  left: 0;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 8px;
  height: 9px;
}
.i41 {
  top: 64px;
  background-color: var(--color-tan);
}
.g11,
.h01,
.i41 {
  left: 231px;
  width: 39.2px;
  height: 29.12px;
}
.h01 {
  position: absolute;
  top: 104px;
  background-color: var(--color-lightcoral);
}
.g11 {
  top: 143px;
  background-color: var(--color-tan);
}
.f6-rect1,
.g11,
.i18 {
  position: absolute;
}
.f6-rect1 {
  top: 39.2px;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 39.2px;
  height: 29.12px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.i18 {
  top: 15.85px;
  left: 11px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.e0-rect1,
.f61 {
  position: absolute;
  top: 31px;
  left: 177px;
  width: 29.12px;
  height: 39.2px;
}
.e0-rect1 {
  top: 39.2px;
  left: 0.16px;
  background-color: var(--color-lightcoral);
  width: 39.2px;
  height: 29.12px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.e1,
.i19 {
  position: absolute;
  top: 15.36px;
  left: 11px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.e1 {
  top: 0.36px;
  left: 0;
  width: 8px;
  height: 9px;
}
.d4-rect1,
.e01 {
  position: absolute;
  top: 77.64px;
  left: 177px;
  width: 29.28px;
  height: 39.2px;
}
.d4-rect1 {
  top: 39.2px;
  left: 0.16px;
  background-color: var(--color-tan);
  width: 39.2px;
  height: 29.12px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.d1,
.i20 {
  position: absolute;
  top: 17.21px;
  left: 11px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.d1 {
  top: 0.21px;
  left: 0;
  width: 8px;
  height: 9px;
}
.c2-rect1,
.d41 {
  position: absolute;
  top: 125.79px;
  left: 177px;
  width: 29.28px;
  height: 39.2px;
}
.c2-rect1 {
  top: 39.2px;
  left: 0;
  background-color: var(--color-tan);
  width: 39.2px;
  height: 29.12px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.i21 {
  top: 17.21px;
  left: 9.84px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.c1,
.c21,
.i21,
.i22 {
  position: absolute;
}
.c1 {
  top: 2px;
  left: 0;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.c21,
.i22 {
  top: 31px;
  left: 74px;
  width: 29.12px;
  height: 39.2px;
}
.i22 {
  top: 15px;
  left: 12px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.b31 {
  top: 78px;
  left: 74px;
  width: 29.12px;
  height: 39.2px;
}
.a1,
.a61,
.b31 {
  position: absolute;
}
.a1 {
  top: 1.85px;
  left: 1px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 4.38px;
  height: 8.51px;
}
.a61 {
  top: 126.15px;
  left: 74px;
  width: 29.12px;
  height: 39.2px;
}
.vendors1-rectangle11 {
  top: 104px;
  left: 0.12px;
  background-color: var(--color-lightsteelblue);
  width: 104px;
  height: 29px;
  transform: rotate(-90deg);
}
.vendors1-rectangle11,
.vendors1-rectangle2,
.vendors2 {
  position: absolute;
  transform-origin: 0 0;
}
.vendors1-rectangle2 {
  top: 138.73px;
  left: 0;
  background-color: var(--color-lightsteelblue);
  width: 38.89px;
  height: 29.12px;
  transform: rotate(-90deg);
}
.vendors2 {
  top: 48px;
  left: 19.51px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 46.49px;
  height: 9.39px;
  transform: rotate(90deg);
}
.vendor11 {
  position: absolute;
  top: 22px;
  left: 289.88px;
  width: 29.12px;
  height: 138.73px;
  font-size: var(--font-size-3xs);
}
.vendor-rectangle2,
.vendors3 {
  position: absolute;
  transform-origin: 0 0;
}
.vendor-rectangle2 {
  top: 142.73px;
  left: 0;
  background-color: var(--color-lightsteelblue);
  width: 38.89px;
  height: 29.12px;
  transform: rotate(-90deg);
}
.vendors3 {
  top: 52px;
  left: 19.51px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 46.49px;
  height: 9.39px;
  transform: rotate(90deg);
}
.vendor2 {
  position: absolute;
  top: 22px;
  left: 125px;
  width: 29.12px;
  height: 142.73px;
  font-size: var(--font-size-3xs);
}
.tangga3 {
  position: absolute;
  top: 37px;
  left: 1px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 30px;
  height: 9px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.tangga2 {
  position: absolute;
  top: 29px;
  left: 0;
  background-color: var(--color-sienna);
  width: 12px;
  height: 46px;
  font-size: var(--font-size-5xs);
}
.mapping1 {
  position: absolute;
  top: 627px;
  left: 24px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.7);
  width: 318.75px;
  height: 182px;
}
.max-capacity-601 {
  position: absolute;
  top: 31px;
  left: 215px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
}
.occupied-28-pax1,
.vacant-32-pax1 {
  position: absolute;
  top: 28px;
  left: 12px;
  color: var(--color-indianred);
}
.vacant-32-pax1 {
  top: 11px;
  color: var(--color-darkolivegreen);
}
.table-info1 {
  position: absolute;
  top: 395px;
  left: 4px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 319px;
  height: 47px;
}
.updated-as-of1 {
  position: absolute;
  top: 9px;
  left: 135px;
  font-weight: 500;
}
.select-a-table1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.select-table-title1 {
  position: absolute;
  top: 367px;
  left: 4px;
  width: 314px;
  height: 23px;
  color: var(--color-dimgray);
}
.fully-occupied1,
.partially-occupied1,
.vacant1 {
  position: absolute;
  top: 33px;
  left: 33px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 83.6px;
  height: 28.46px;
}
.fully-occupied1,
.partially-occupied1 {
  top: 5px;
  left: 180px;
  width: 114px;
  height: 18px;
}
.fully-occupied1 {
  left: 36px;
  width: 92.98px;
  height: 18.61px;
}
.fully-eclipse1,
.partially-eclipse1,
.vacant-eclipse1 {
  position: absolute;
  top: 33px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 29px;
  height: 28.03px;
}
.fully-eclipse1,
.partially-eclipse1 {
  top: 0;
  left: 147px;
  background-color: var(--color-tan);
}
.fully-eclipse1 {
  top: 0.32px;
  left: 0;
  background-color: var(--color-lightcoral);
}
.legend-content1 {
  position: absolute;
  top: 48px;
  left: 13px;
  width: 294px;
  height: 61.46px;
}
.legend-line-icon1,
.legend3 {
  position: absolute;
  top: 31.3px;
  left: 0;
  width: 304px;
  height: 3.5px;
}
.legend3 {
  top: 0;
  left: 8px;
  display: flex;
  align-items: center;
  width: 103.32px;
  height: 28.32px;
}
.legend2,
.title1 {
  position: absolute;
  top: 8.7px;
  left: 7px;
  width: 304px;
  height: 34.8px;
  font-size: var(--font-size-lg);
}
.legend2 {
  top: 229px;
  left: 2px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 319px;
  height: 115px;
  font-size: var(--font-size-sm);
}
.pax-rectangle1 {
  position: absolute;
  top: 2px;
  left: 75px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 252px;
  height: 36px;
}
.vector-pax-icon1 {
  position: absolute;
  height: 41.64%;
  width: 4.67%;
  top: 27.5%;
  right: 5.72%;
  bottom: 30.86%;
  left: 89.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pax-italics1 {
  position: absolute;
  top: 12px;
  left: 93px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 8px;
}
.pax-group1,
.pax1 {
  position: absolute;
  height: 40px;
}
.pax1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  width: 57px;
}
.pax-group1 {
  top: 157px;
  left: 1px;
  width: 327px;
}
.table-rectangle1 {
  position: absolute;
  top: 0;
  left: 76px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 252px;
  height: 34px;
}
.vector-table-icon1 {
  position: absolute;
  height: 48.23%;
  width: 4.05%;
  top: 32.35%;
  right: 6.31%;
  bottom: 19.42%;
  left: 89.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.table-italics1,
.table1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.table-italics1 {
  top: 7px;
  left: 94px;
  font-weight: 500;
  width: 94px;
}
.table1 {
  top: 6px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  width: 78px;
}
.table-group1,
.time-rectangle1 {
  position: absolute;
  top: 111px;
  left: 0;
  width: 328px;
  height: 34px;
}
.time-rectangle1 {
  top: 0;
  left: 76px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 252px;
  height: 39px;
}
.clock-icon1 {
  position: absolute;
  top: 5px;
  left: 284px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.time-italics1 {
  position: absolute;
  top: 9px;
  left: 93px;
  font-weight: 500;
}
.calendar-icon1,
.time-group1 {
  position: absolute;
  top: 56px;
  left: 1px;
  width: 328px;
  height: 40px;
}
.calendar-icon1 {
  top: 6px;
  left: 285px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.date-italics1 {
  position: absolute;
  top: 10px;
  left: 94px;
  font-weight: 500;
}
.date-group1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 328px;
  height: 40px;
}
.which-table-would1 {
  position: absolute;
  top: -92px;
  left: 1px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-black);
  width: 339px;
}
.table-info-group,
.time2 {
  position: absolute;
  width: 329px;
}
.time2 {
  top: 0;
  left: 0;
  height: 197px;
  font-size: var(--font-size-mid);
  color: var(--color-dimgray);
}
.table-info-group {
  top: 168px;
  left: 19px;
  height: 442px;
  font-size: var(--font-size-2xs);
}
.book-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: #f6cc62;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 125px;
  height: 37px;
}
.book-now {
  position: absolute;
  top: 9px;
  left: 24px;
  font-weight: 500;
}
.book-button {
  position: absolute;
  top: 380px;
  left: 95px;
  width: 125px;
  height: 37px;
  cursor: pointer;
  font-size: var(--font-size-mid);
}
.major-computer1 {
  position: absolute;
  top: 49px;
  left: 1px;
}
.xxxxxxxxx1 {
  font-weight: 500;
}
.nim-2xxxxxxxxx-container1 {
  position: absolute;
  top: 24px;
  left: 0;
}
.email-address-dummytestbinu-container1 {
  position: absolute;
  top: 74px;
  left: 0;
}
.dummy-test {
  font-weight: 600;
}
.name-dummy-container,
.personal {
  position: absolute;
  top: 0;
  left: 1px;
}
.personal {
  top: 245px;
  left: 16px;
  width: 250px;
  height: 90px;
}
.pax-2-container {
  position: absolute;
  top: 64px;
  left: 2px;
}
.table-a1,
.time-1000-11001 {
  position: absolute;
  top: 43px;
  left: 0;
}
.time-1000-11001 {
  top: 23px;
  left: 1px;
}
.date-28-july-container1 {
  position: absolute;
  top: 0;
  left: 2px;
}
.data,
.note-child {
  position: absolute;
  top: 140px;
  left: 15px;
  width: 205px;
  height: 80px;
}
.note-child {
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #f2e5c1;
  width: 288px;
  height: 76px;
}
.please-make-sure {
  margin: 0;
}
.cannot-be-edited {
  text-decoration: underline;
}
.please-make-sure-container1 {
  line-break: anywhere;
  width: 100%;
}
.please-make-sure-container {
  position: absolute;
  top: 24px;
  left: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 279px;
}
.note1 {
  top: 7px;
  left: 5px;
  font-weight: 800;
  color: #ee0505;
}
.note,
.note1,
.x1 {
  position: absolute;
}
.note {
  top: 56px;
  left: 14px;
  width: 288px;
  height: 76px;
  font-size: var(--font-size-smi);
}
.x1 {
  top: 10px;
  left: 291px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  cursor: pointer;
}
.booking-detail,
.bookingdetailtitle {
  position: absolute;
  top: 22px;
  left: 78px;
  font-size: var(--font-size-3xl);
}
.booking-detail {
  top: 167px;
  left: 24px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 317px;
  height: 439px;
  font-size: var(--font-size-sm);
}
.notification-icon1,
.user-icon1 {
  position: absolute;
  top: 1px;
  left: 49px;
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.notification-icon1 {
  top: 0;
  left: 0;
  width: 35.66px;
}
.notif-eclipse1 {
  position: absolute;
  top: 2px;
  left: 18px;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 17px;
  height: 17px;
}
.div1 {
  position: absolute;
  top: 3px;
  left: 23px;
  font-weight: 600;
}
.notif-icon1,
.profile1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35.66px;
  height: 39px;
}
.profile1 {
  top: 15px;
  left: 254px;
  width: 88px;
  height: 40px;
  color: var(--color-white);
}
.create-a-booking-tablesconfi {
  position: relative;
  background: linear-gradient(#fff, #fff), #e37070;
  width: 100%;
  height: 936px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
